* {
	margin: 0;
	padding: 0;
}

#body {
	background: #faf8ef;
}

canvas {
	display: block;
	margin: 0 auto;
	cursor: pointer;
	outline: none;

	/* Disable Android touch highlight - http://stackoverflow.com/a/13255856/372743 */
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-modify: read-write-plaintext-only;
}

